input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}

input:focus {
    outline: none;
    background-color:#505090;
    border:solid 1px #6060A0;
    border-radius:15px;
}
